// Update Bulma"s global variables
$primary: #1B5A6E;
$link: #00171f;

// Modal transitions
$modal-fadeIn: 300ms;

// Update some of Bulma"s component variables
$body-background-color: #fff;
$footer-background-color: #1B5A6E;
$footer-padding: 0;
$input-shadow: none;
$family-primary: "Nunito", sans-serif;

// Custom variables
$white: #fff;
$swamp: #1B5A6E;
$lightgrey: #e5e6e8;
$grey: #f5f5f5;
$greenonion: #5BA21D;
$desertstorm: #f7f7f7;

// Fonts
$paragraph-2: normal 14px/24px Nunito,sans-serif;